attrs
Brotli
build
CacheControl
certifi
cffi
charset-normalizer
cleo
cloudpickle
contourpy
crashtest
cryptography
cycler
distlib
dulwich
filelock
fonttools
gmpy2
gym
gym-notices
html5lib
idna
importlib-metadata
installer
jaraco.classes
Jinja2
jsonschema
jsonschema-specifications
keyring
kiwisolver
lockfile
MarkupSafe
matplotlib
mkl-fft
mkl-random
mkl-service
more-itertools
mpmath
msgpack
networkx
numpy
opencv-python
packaging
pexpect
pillow
pkginfo
platformdirs
poetry-core
poetry-plugin-export
protobuf
ptyprocess
pycparser
pyOpenSSL
pyparsing
pyproject_hooks
PySocks
python-dateutil
PyYAML
rapidfuzz
referencing
requests
requests-toolbelt
rpds-py
shapely
shellingham
six
sympy
tensorboard-pytorch
tomli
tomlkit
torch
torchaudio
torchvision
tqdm
trove-classifiers
typing_extensions
urllib3
virtualenv
webencodings
xattr
zipp
